<h2>About</h2>
<p>
My name is Hirokazu Yoshida(a.k.a yoppi, id:yoppiblog, @yoppi), and this is my personal site.
I am writing something to what inspiring "my heart" from my work, my life on this site.
</p>
<p>
I am a software engineer.
Currently, I'm working as a Web Application engineer with Java(Perl, Ruby is used for auto generating codes).
Of course, I love programming. But I am more interesting Powerful Language like Ruby, Haskell, Scheme.
</p>
<p>
Vim is My right hand.
I have been used Vim for three years.
Vim is powerful.
</p>
