<div id="home-container">
<h2>About</h2>
<p>
My name is Hirokazu Yoshida(a.k.a yoppi, <%= link_to("id:yoppiblog", "http://d.hatena.ne.jp/yoppiblog") %>,
<%= link_to("@yoppiblog", "http://twitter.com/yoppiblog") %>, and this is my personal site.
I am writing something to what inspiring "my heart" from my work, my life on this site.
<p>
I'm a software engineer.
Of course, I love programming. So that, usually in private, I use powerful language like Ruby, Haskell, Scheme.
</p>
<p>
Vim is My right hand.
I have been used Vim for three years.
Vim is powerful, this is because many useful plugin, cool programmers using and suite for me in programming, write articles, paper.
</p>

<h2>Work</h2>
<ul>
<li>
I worked as a Web Application engineer with Java(Perl, Ruby is used for auto generating Java codes).
And MySQL is used in project.
</li>
<li>
Currently, I'm working iOS/Web Application engineer. Using Rails/Ruby/JavaScript/Objective-C.
I can make infrastructure for web application. Unix(AWS is nice!), MySQL, nginx, Redis.
</li>
</ul>

<h2>Study</h2>
<p>
When I was a university student, I studied DNS in content and chache server implementation to use on IPv6 environment, and speeding up query.
I implemented <%= link_to("endlessdns", "http://github.com/yoppi/endlessdns") %>, which have query cache inteligency.
This daemon program can be run on any DNS cache server as plugin.
</p>

<h2>Activity</h2>
<p>
I have wrote tecnical articles on <%= link_to("Tim Labs", "http://labs.timedia.co.jp/author/yoppi") %>
</p>
</div>
