<h2>About</h2>
<p>
My name is Hirokazu Yoshida(a.k.a yoppi, <%= link_to("id:yoppiblog", "http://d.hatena.ne.jp/yoppiblog") %>,
<%= link_to("@yoppiblog", "http://twitter.com/yoppiblog") %>, and this is my personal site.
I am writing something to what inspiring "my heart" from my work, my life on this site.
Of course, I love programming. So that, usually in private, I use powerful language like Ruby, Haskell, Scheme.
</p>
<p>
Vim is My right hand.
I have been used Vim for three years.
Vim is powerful, this is because many useful plugin, cool programmers using and suite for me in programming, write articles, paper.
</p>

<h3>Work</h3>
<p>
I am a software engineer.
Currently, I'm working as a Web Application engineer with Java(Perl, Ruby is used for auto generating Java codes).
And MySQL is used in project.
</p>

<h3>Study</h3>
<p>
When I was a university student, I studied DNS in content and chache server implementation to use on IPv6 environment, and speeding up query.
I implemented <%= link_to("endlessdns", "http://github.com/yoppi/endlessdns") %>, which query cache inteligency.
This daemon is run on any DNS cache server as plugin.
</p>

<h3>Activity</h3>
<p>
I have wrote tecnical articles on <%= link_to("Tim Labs", "http://labs.timedia.co.jp/author/yoppi") %>
</p>
<p>

</p>
