<header>
<h2>Activity</h2>
<ul>
  <li><%= link_to("Tim Labs", "http://labs.timedia.co.jp/author/yoppi", :target=> "_blank") %>: One of a technical writers</li>
<li>Speaches:
<ul>
  <li>Why we choose Mercurial and Operation Tips: Project have moved from Subverison to Mercurial.</li>
  <li>Introduction to Facebook Application: How to construct Facebook application with Rails3 + Heroku.</li>
  <li>Intruduction to TestDouble: xUnit Test Patterns(Section 23). Using mockito(TestDouble library in Java) and so on.</li>
</ul>
</li>
</ul>
</header>
