<div id="activity-container">
<section>
<header>
<h2>Activity</h2>
</header>
</section>
<ul>
  <li><%= link_to("Tim Labs", "http://labs.timedia.co.jp/author/yoppi", :target=> "_blank") %>: One of a technical writers</li>
  <li>Speaches:
    <ul>
      <li>Why we choose Mercurial and Operation Tips: Project have moved from Subverison to Mercurial.</li>
      <li>Introduction to Facebook Application: How to construct Facebook application with Rails3 + Heroku.</li>
      <li><%= link_to("Introduction to TestDouble", :action => "test_double") %>: Please See Google Chrome, or Safari(using some HTMl5 APIs). xUnit Test Patterns(Section 23). Using mockito(TestDouble library in Java) and so on.</li>
    </ul>
  </li>
</ul>
</div>
