<div id="menu">
<ul>
  <% @menus.each do |menu| %>
    <li>
    <%=
      link_to_unless(current_controller?(menu), menu, {:controller => menu}) do
        link_to(menu, {:controller => menu}, {:class => 'on'})
      end
    %>
    </li>
  <% end %>
  <li>
    <%= link_to "blog", "http://yoppi.hatenablog.com" %>
  </li>
  <li>
    <%= link_to "twitter", "http://twitter.com/yoppiblog" %>
  </li>
  <li>
    <%= link_to "github", "http://github.com/yoppi" %>
  <li>
</ul>
</div>
